<section id="lit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Literature Review</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
                <div class="section-heading">
                    <h4><a href="https://www.cutimes.com/2017/07/07/online-marketplace-lending-the-landscape-for-2017/?slreturn=20181113131850">Online Marketplace Lending: The Landscape for 2017</a></h4>
                    <p class="text-muted">CreditUnionTimes applauds peer-to-peer lending platforms as a great opportunity to allow more access to credit. This idea was pioneered by European firm ZOPA and soon other companies like LendingClub, SoFi, and Funding Circle entered the space. These online marketplaces utilize big data and technology in order to function. Bank partnerships appear to be on the horizon as well as regulatory reform. Some of the top challenges will most likely be increased competition as more firms pour into the space, increasing cost of customer acquisition, and cybersecurity issues. Nonetheless, peer-to-peer lending is expected to remain a strong presence in the future of loans.</p><br>

                    <h4>Jagtiani J, Lemieux C, Others. Small business lending after the financial crisis: A new competitive landscape for community banks. Economic perspectives. 2016;3:1–30.</h4>
                    <p class="text-muted">Peer to peer lending firms like LendingClub have been growing in the U.S. small business loan space. These smaller, more flexible firms were able to weather the financial crisis better than traditional lenders, by offering small conveniences to appeal to a new generation of borrowers.</p>

                </div>
            </div>





        </div>
    </div>
</section>
