<section class="bg-primary" id="statement">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Project Statement</h2>
                <hr class="light">
                <h4 class="text-faded"><b>Research Question:</b> What is an investment strategy for Lending Club that maximizes ROI given different market outlooks as determined by the investor?</h4>
                <br>
                <p class="text-faded">We are interested in building a model to predict the probability of default among loans accepted by Lending Club. We plan to create two different models based on bull (2016) and bear (2007) market years. Investors can choose which model to use based on their expectations for the market, and more accurately predict loan defaults.</p>
            </div>
        </div>
    </div>
</section>
